<div class="card">
    <mat-toolbar color="primary">
        <span><h4 class="card-header">Login</h4></span>
      </mat-toolbar>
    
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">               
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <mat-hint>Username is required</mat-hint>
                    </div>
                </mat-form-field>

            </div>
            <div class="form-group">               
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <mat-hint>Password is required</mat-hint>
                    </div>
                  </mat-form-field>
            </div>
            <div class="form-group">
                <mat-toolbar color="primary">
                        <button [disabled]="loading"  mat-raised-button disabled  color= "warn">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                      <span class="example-spacer"></span>
                      <a routerLink="../register" >Register</a>
                </mat-toolbar>
            </div>
        </form>
    </div>
</div> 